body {
  margin: 20;
  background-color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-size: medium;
  background-color: black;
  font-weight: bold;
}

h4 {
  font-size: small;
}

button {
  width: 200px;
}

.header {
  color: white;
  padding: 20px;
  font-size: xx-large;
  font-family: Chalkduster, fantasy;
  background-color: rgb(7, 7, 7);
}

.navbar {
  background-color: aqua;
  font-size: large;
  padding: 25px;
  width: 100%
}

a {
  color: black;
}

.nav-link {
  display: inline-block;
  font-size: medium;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-family: Chalkduster, fantasy
}
 
.card{
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 65, 63);

}

.create-assignment{
  width: 33%;
  display: inline-block;
}

input{
  width: 100%;
}